
    <div class="row content-text">
        <div class="col-md-6">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label">Choose report to edit</label>
                    <select data-bind="options: Reports,optionsText: 'Name', value:Report" class="form-control"></select>
                </div>
                <button class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add new</button>
            </div>
        </div>
    </div>

<form data-bind="with:Report, submit: Save" method="post" role="form">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div>
                            <input type="text" name="Name" data-bind="value: Name" class="form-control" placeholder="Give your report a name">
                            <span class="help-block">This Name is also the link in the report menu</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <div>
                            <input type="text" name="Description" data-bind="value: Description" class="form-control" placeholder="Give your report a user-friendly description">
                            <span class="help-block">This description is shown to the user when he executes the report</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label">SQL statement</label>
                        <div>
                            <textarea rows="6" class="form-control" data-bind="value: Sql,event: { keyup: $parent.analyzeSql }"></textarea>
                            <span class="help-block">Write or paste your SQL statement here.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ko foreach: Parameters-->
        <div class="col-md-4">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" data-bind="text: SqlKey"></h3>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Value</label>
                            <div class="col-md-10">
                                <input type="text" name="Value" data-bind="value: Value" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label" title="The type of parameter to present to the user">Type</label>
                            <div class="col-md-4">
                                <select name="InputType" data-bind="options: $root.InputTypes, optionsText: 'Value', optionsValue:'Key', value:InputType" class="form-control"></select>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <input type="checkbox" data-bind="checked: Mandatory"><span title="Required/Mandatory to fill in the parameter">Req'd</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label" title="Label for the parameter">Label</label>
                            <div class="col-md-10">
                                <input type="text" name="Label" data-bind="value: Label" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label" title="Help Text for the parameter">Help</label>
                            <div class="col-md-10">
                                <input type="text" name="HelpText" data-bind="value: HelpText" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box-footer">
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</form>

