@model SimpleReport.ViewModel.DesignerViewModel
@{
    ViewBag.Title = "Report Designer";
}
<script type="">
    function ReportViewModel() {
        var self = this;
        self.Reports = ko.observableArray();
        self.Report = ko.observable();
        self.Report.Name = ko.observable();
        self.InputTypes = ko.observableArray();
        self.SaveUrl = '/Designer/Save';

        self.Save = function(){
            var jsonData = ko.toJSON({ reportToSave: self.Report });
            $.ajax({
                type: 'post',
                url: self.SaveUrl,
                data: jsonData,
                contentType: 'application/json',
                success: function(result) {
                    if (!result.success) {
                        alert(result.error);
                    } else {}
                }
            });
        };

        self.Load = function(data) {
            self.Reports(data.Reports);
            self.Report(data.Report);
            self.InputTypes(data.InputTypes);
        };

        self.analyzeSql = function() {
            var re = /(@@\w+)/g;
            var match;
            var existingParameters = _.pluck(self.Report().Parameters, 'SqlKey');
            while (match = re.exec(self.Report().Sql)) {
                console.debug(match[0]);
                console.debug(self.Reports().Parameters);
                if (!_.contains(existingParameters), match) {
                    alert('new' + match);
                    console.debug(self.Reports().Parameters);
                    self.Reports().Parameters.push({SqlKey:match, Value:'',InputType:0,Mandatory:false, Label:'',HelpText:''})
                }
            }


        };

    };

    $(function () {
        var data = @Html.Raw(Model.Json());
        var vm = new ReportViewModel();
        vm.Load(data);
        ko.applyBindings(vm);
    });
</script>

<section class="content-header">
    <h1>
        Report Designer 
    </h1>
</section>
<section class="content">
    <p>Here you can edit existing reports or create new ones.</p>
    Choose report to Edit: <select data-bind="options: Reports,optionsText: 'Name', value:Report"></select>
    <div class="box box-primary">
        <form data-bind="with:Report, submit: Save" method="post" role="form">

            <div class="box-header">
                <h3 class="box-title" data-bind="text: Name"></h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <div>
                                <input type="text" name="Name" data-bind="value: Name" class="form-control" placeholder="Give your report a name">
                                <span class="help-block">This Name is also the link in the report menu</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <div>
                                <input type="text" name="Description" data-bind="value: Description" class="form-control" placeholder="Give your report a user-friendly description">
                                <span class="help-block">This description is shown to the user when he executes the report</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">SQL statement</label>
                            <div>
                                <textarea rows="5" class="form-control" data-bind="value: Sql,event: { keyup: $parent.analyzeSql }"></textarea>
                                <span class="help-block">Write or paste your SQL statement here.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- ko foreach: Parameters-->
                    <div class="col-sm-6 col-md-4">
                        <div class="box box-solid box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title" data-bind="text: SqlKey"></h3>
                            </div>
                            <div class="box-body">
                                <div class="row"><div class="col-md-2">Value</div><div class="col-md-10"><input type="text" name="Value" data-bind="value: Value" class="form-control"></div></div>
                                <div class="row">
                                    <div class="col-md-2">Type</div><div class="col-md-4"><select name="InputType" data-bind="options: $root.InputTypes, optionsText: 'Value', optionsValue:'Key', value:InputType" class="form-control"></select></div>
                                    <div class="col-md-2">Required</div><div class="col-md-4"><div class="checkbox"><input type="checkbox" data-bind="checked: Mandatory"></div></div>
                                </div>
                                <div class="row"><div class="col-md-2">Label</div><div class="col-md-10"><input type="text" name="Label" data-bind="value: Label" class="form-control"></div></div>
                                <div class="row"><div class="col-md-2">Help text</div><div class="col-md-10"><input type="text" name="HelpText" data-bind="value: HelpText" class="form-control"></div></div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                
            </div>
            @*<div class="form-group">
                <label class="control-label">Parameters</label>
                <div>
                    <table>
                        <tbody>
                            <tr align="left">
                                <th>ID</th>
                                <th>SqlKey</th>
                                <th>Default value</th>
                                <th>InputType</th>
                                <th title="Required">Req'd</th>
                                <th>Label</th>
                                <th>Helptext</th>
                            </tr>
                            <!-- ko foreach: Parameters-->
                            <tr>
                                <td class=""><span data-bind="text: $index()+1"></span></td>
                                <td class=""><input type="text" name="SqlKey" data-bind="value: SqlKey" class="form-control"></td>
                                <td class=""><input type="text" name="Value" data-bind="value: Value" class="form-control"></td>
                                <td class="">
                                    <select name="InputType" data-bind="options: $root.InputTypes, optionsText: 'Value', optionsValue:'Key', value:InputType"></select>
                                </td>
                                <td class=""><input type="checkbox" data-bind="checked: Mandatory" class="checkbox"></td>
                                <td class=""><input type="text" name="Label" data-bind="value: Label" class="form-control"></td>
                                <td class=""><input type="text" name="HelpText" data-bind="value: HelpText" class="form-control"></td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>*@
</div>
            <div class="box-footer">
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
