@model SimpleReport.ViewModel.DesignerViewModel
@{
    ViewBag.Title = "Report Designer";
}
<script type="">
    function ReportViewModel() {
        var self = this;
        self.Reports = ko.observableArray();
        self.Report = ko.observable();
        self.Report.Name = ko.observable();
        self.InputTypes = ko.observableArray();
        self.SaveUrl = '/Designer/Save';

        self.Save = function(){
            var jsonData = ko.toJSON({ reportToSave: self.Report });
            $.ajax({
                type: 'post',
                url: self.SaveUrl,
                data: jsonData,
                contentType: 'application/json',
                success: function(result) {
                    if (!result.success) {
                        alert(result.error);
                    } else {}
                }
            });
        };

        self.Load = function(data) {
            self.Reports(data.Reports);
            self.Report(data.Report);
            self.InputTypes(data.InputTypes);
        };

        self.analyzeSql = function() {
            var re = /(@@\w+)/g;
            var match;
            var existingParameters = _.pluck(self.Report().Parameters, 'SqlKey');
            while (match = re.exec(self.Report().Sql)) {
                console.debug(match[0]);
                console.debug(self.Reports().Parameters);
                if (!_.contains(existingParameters), match) {
                    alert('new' + match);
                    console.debug(self.Reports().Parameters);
                    self.Reports().Parameters.push({SqlKey:match, Value:'',InputType:0,Mandatory:false, Label:'',HelpText:''})
                }
            }


        };

    };

    $(function () {
        var data = @Html.Raw(Model.Json());
        var vm = new ReportViewModel();
        vm.Load(data);
        ko.applyBindings(vm);
    });
</script>

<section class="content-header">
    <h1>
        Report Designer <small>Here you can edit existing reports or create new ones.</small>
    </h1>
</section>
<section class="content">

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Reports</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Dropdown parameters</a></li>
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Connections</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            @Html.Partial("_ReportDesigner")
        </div>
        <div class="tab-pane" id="tab_2">

        </div>
        <div class="tab-pane" id="tab_3">

        </div>
    </div><!-- /.tab-content -->


</section>
