@using SimpleReport.Model
@model SimpleReport.ViewModel.ReportViewModel
@{
    ViewBag.Title = "Home";
}
<section class="content-header">
    <h1>
        Simple report 
        <small>is the easy way to handle internal reporting</small>
    </h1>
</section>
<section class="content">
    <div class="col-md-9 col-xs-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i> Introduction</h3>
            </div>
            <div class="box-body">
                <p>
                    The purpose of Simple Report Tool is to make Report-making simpler and more fun for developers and professional IT personnel.
                </p>
                <p>
                    Users will get their reports faster, and be able to reproduce the result whenever they need to, without asking that "IT guy" to "run som queries" and put together an excel spreadsheet.
                </p>
            </div>
        </div>
    </div>
</section>